:root{
    --primary-color: #0c4298;
    --secondary-color: #f28500;
    --text-color: #0A142A;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    height: 100%;
    display: flex; /*Made this flex so that the footer stays at the bottom when page is on a larger screen*/
    flex-direction: column;
}

main{
    flex: 1;
}

i{
  color: var(--text-color);
}

.title{
    display: flex;
    flex-direction: column;
    clip-path: ellipse(70% 100% at 50% 0%);
}
.title h1{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.title p{
    color: var(--text-color);
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.tutors{
    padding: 4rem 2rem;
    background: white;
    text-align: center;
}
.tutor-card-main{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.tutor-card{
    background-color: white;
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.tutor-card h2, .tutor-card-main h2{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;

}
.tutor-card p, .tutor-card-main p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    max-width: 50%;
    text-align: left;
}
.tutor-img{
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    object-fit: cover;
    max-width: 50%;
    
}

.picture{
    display: flex;
    justify-content: right;
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    position: relative;
}